<?xml version="1.0" encoding="UTF-8"?>
<!-- http://logback.qos.ch/manual/architecture.html -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<property name="LOGS_PATH" value="/tmp/springui/logs" />

	<appender name="ERRORS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_PATH}/error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGS_PATH}/errors-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

	</appender>


	<appender name="SPRING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_PATH}/spring.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGS_PATH}/spring-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}
				%X{req.remoteHost} %X{req.requestURI} %X{req.userAgent}
				%X{req.xForwardedFor} - %msg%n</pattern>
		</encoder>

	</appender>

	<appender name="COMPONENTS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_PATH}/COMPONENTS.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGS_PATH}/COMPONENTS-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 1MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg
				[%X{req.remoteHost}->%X{req.requestURI}?%X{req.queryString}] %n
			</pattern>
		</encoder>
	</appender>

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired 
			discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>file</key>
			<defaultValue>raban_default</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${file}" class="ch.qos.logback.core.FileAppender">
				<file>${file}</file>
				<append>false</append>
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root>
		<level value="ERROR" />
		<appender-ref ref="ERRORS" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="pl.springui" level="DEBUG" additivity="false">
		<appender-ref ref="COMPONENTS" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="COMPONENTS" />
	</logger>

	<!-- By default, appenders are cumulative: a logger will log to the appenders 
		attached to itself (if any) as well as all the appenders attached to its 
		ancestors. : Dzieci wysylaja logi również do ojców, chyba że mają additivity="false" -->

</configuration>
