<?xml version="1.0" encoding="UTF-8"?>
<!-- http://logback.qos.ch/manual/architecture.html -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="pl.springui" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
